body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color: #E4F9F5;
}

.middle-container {
  margin-top: 50px;
}

.pro {
  text-decoration: underline;
}

.window{
  font-weight: bold;
  margin: 10px;
  background-color: aliceblue;
}

.window a:hover{
  color: black;
}


h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.562rem;
  margin-top: 50px;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  line-height: 2;
  font-weight: bolder;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-weight: bolder;
}

a {
  color: #11999E;
  margin-right: 30px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.gaming {
  width: 25%;
  float: left;
  margin-right: 50px;
}


.problem-solving {
  width: 25%;
  float: right;
  margin-right: 50px;
}

.programmer {
  margin-top: 5px;
  height: 330px;
  width: 330px;;
}

.middle-line {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 3%;
  margin: 100px auto 100px auto;
}

.last-line {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 3%;
  margin: 100px auto 100px auto;
}

.download{
  margin: 15px;
  border-radius: 50px;
}

.contact-me h3 {
  margin: 30px auto 50px auto;
}

.BUTTON_PLV {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -webkit-gradient(to bottom, #66BFBF, #66BFBF);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 23px;
  font-weight: 100;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 6px 0 #66BFBF;
  -moz-box-shadow: 1px 1px 6px 0 #66BFBF;
  box-shadow: 1px 1px 6px 0 #66BFBF;
  text-shadow: 1px 1px 20px #66BFBF;
  border: solid #66BFBF 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 30px auto 80px auto;
}

.BUTTON_PLV:hover {
  background: #1E62D0;
  border: solid #337FED 1px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 30px;
}

.Copyright {
  color: white;
  margin-top: 30px;
}

.dark-mode{
  background-color: black;
  color: grey;
}
